<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="learn.css">
    <link rel="stylesheet" href="./partials/header.css">
    <link rel="stylesheet" href="./partials/message.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <title>Japanese Practice</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="progress-interface">
                <div class="progress-display">
                    <div class="progress-display-item">
                        <h3>赤</h3>
                        <h3>Red</h3>
                        <h3>3 / 10</h3>
                    </div>
                    <div class="progress-display-item">
                        <h3>青</h3>
                        <h3>Blue</h3>
                        <h3>7 / 10</h3>
                    </div>
                    <div class="progress-display-item">
                        <h3>黒</h3>
                        <h3>Black</h3>
                        <h3>9 / 10</h3>
                    </div>
                </div>
                <button class="button learn-more-button">Learn More</button>
                <button class="button practice-again-button">Practice Again</button>
            </div>
        </div>
    </div>
</body>
</html>