<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vocab.css">
    <link rel="stylesheet" href="./partials/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <title>Vocabulary</title>
</head>
<body>
    <div class="container">
        <%- include('./partials/header') %>
        <div class="main">
            <% for (i = 0; i < userData.length; i++) { %>
                <div class="vocab-item">
                    <h1><%=userData[i].kanji%></h1>
                    <h2><%=userData[i].english%></h2>
                    <h2><%=userData[i].level + ' / 10'%></h2>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>