* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.container {
    background-color: silver;
    /* height: 100vh; */
    padding-bottom: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.main {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-interface {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.progress-display {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;  
}

.progress-display-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.learning-interface {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.practice-interface {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-interface {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.score-display {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;  
}

.level-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.level-card h3 {
    font-size: 10px;
}

.question-display {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.vocab-card {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.vocab-card h1 {
    margin-bottom: 5px;
    font-size: 100px;
}

.vocab-card h2 {
    margin-top: 10px;
    font-size: 35px;
}

.answer-display {
    margin-top: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.answer-choice {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    height: 80px;
    width: 80px;
    color: black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.learn-button {
    color: white;
    background-color: dodgerblue;
}

.gotit-button {
    color: black;
    background-color: white;
}

.practice-button {
    color: white;
    background-color: dodgerblue;
}

.next-button {
    color: white;
    background-color: dodgerblue;
}

.practice-again-button {
    color: white;
    background-color: dodgerblue;
}

.item {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.item button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.item button h2 {
    text-align: center;
}

.button-container {
    display: flex;
    padding: 10px;
}
 
.button-edit {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 20px;
    margin-right: 10px;
}

.button-delete {
    background-color: crimson;
    color: white;
    border: none;
    padding: 20px;
    margin-left: 10px;
}

.item h2 {
    margin-right: 0px;
}

.correct {
    background-color: greenyellow;
}

.incorrect {
    background-color: red;
}

.hide {
    display: none;
}