* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FEFFFF;
    font-family: 'Reem Kufi Fun', sans-serif;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #3AAFA9;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    min-width: 20%;
    padding: 0px;
    /* background-color: blue; */
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-container h1 {
    margin-bottom: 60px;
    color: white;
    font-weight: 700;
}

.login-container input {
    min-width: 100%;
    color: #FEFFFF;
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid #FEFFFF;
    margin-bottom: 30px;
    background-color: inherit;
}

.login-container input::placeholder {
    color: #FEFFFF;
}

.login-container input:focus {
    outline: none;
    border: none;
    color: #17252A;
    border-bottom: 1px solid #17252A;
}

.login-container button {
    margin-top: 20px;
    min-width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #2B7A78;
    color: white;
    cursor: pointer;
}

.login-container button:nth-child(1) {
    background-color: #17252A;
}