* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: silver;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-container h1 {
    margin-bottom: 60px;
}

.login-container input {
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.login-container input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid dodgerblue;
}

.login-container button {
    margin-top: 30px;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}