.message-container {
    position: absolute;
    top: 50%;
    max-width: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    color: #FEFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.delete-button {
    cursor: pointer;
    margin-left: 30px;
}

.success {
    background-color: #77DD77;
}

.error {
    background-color: #F64C72;
}

@media only screen and (max-width: 768px) {
    .message-container {
        position: absolute;
        top: 100%;
        max-width: 100vw;
        width: 100vw;
        border-radius: 0;
    }

    .delete-button {
        margin-left: 0;
    }
}