.message-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: antiquewhite;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.delete-button {
    cursor: pointer;
}

.success {
    background-color: dodgerblue;
}

.error {
    background-color: crimson;
}